/* Meteo.css */

.meteo-card {
  border-radius: 15px;
  background-color: rgb(255, 255, 255); /* Colore di sfondo con trasparenza */
  backdrop-filter: blur(10px); /* Effetto blur per il vetro opaco */
  border: 1px solid grey; /* Bordo con trasparenza */
  transition: background-color 0.4s ease-in-out;
  overflow: hidden; /* Per migliorare l'effetto di glassmorphism */
}

.meteo-card:hover {
  background-color: rgba(245, 189, 5, 0.25); /* Cambio colore al passaggio del mouse */
  cursor: pointer;
}

.weather-icon img {
  width: 80px;
  height: 80px;
}

.weather-info {
  text-align: left;
}

.weather-date,
.weather-temp,
.weather-city {
  margin: 0;
}

.weather-temp {
  font-size: 1.6em;
  font-weight: bold;
}

.weather-city {
  font-size: 1em;
  color: #555;
}

.card-footer {
  background-color: rgba(255, 255, 255, 0.15); /* Colore di sfondo con trasparenza per il footer */
  border-top: 1px solid rgba(255, 255, 255, 0.2); /* Bordo del footer con trasparenza */
  padding: 10px;
}

.card-footer div {
  font-size: 0.9em;
}
