.img_profile {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    
    margin-right:5px;

}

.img_profile2 {
    width: 100%;
    height: 15rem;
}
.navbar-toggler:focus {
   
    box-shadow: none!important;
}
.online{
    top: 25px;
    left: 30px;
    padding: 0.3rem!important;
}
.vh-100{
    height:min-content;
}
.purple-700{
    color: #69359c!important;
}
.my-nav{
    background-color: black!important;
}
.bg-blue{
    background-color: #05203C!important;
}