body {
  background-color: #eff3f8 !important;
  /* background-position: cover;
  background-repeat: no-repeat;
  background-size: cover; */
  /* background-image: url('https://images.unsplash.com/photo-1708418739245-3b59082a9016?q=80&w=1931&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); */
  /* background-image: url('https://images.unsplash.com/photo-1707209856575-a80b9dff5524?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); */
}
.container-fluid {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 20px; /* Aggiungi spazio in fondo */
}

/* Nascondi la barra di scorrimento solo per WebKit */
html::-webkit-scrollbar {
  display: none !important;
  /* Per Chrome, Safari, e Opera */
  scrollbar-width: none !important;
  /* Per Firefox */
  -ms-overflow-style: none !important;
  /* Per IE e Edge */
}

.img_profile {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;

  margin-right: 5px;
}

.img_profile2 {
  width: 100%;
  height: 15rem;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.online {
  top: 25px;
  left: 30px;
  padding: 0.3rem !important;
}

.vh-100 {
  height: min-content;
}

.purple-700 {
  color: #69359c !important;
}

.bg-blue {
  background-color: #05203c !important;
}

.btn-blue-dark {
  background-color: #05203c !important;
}

.bg-blue-light {
  background-color: #08325f !important;
}

.btn-blue-dark:hover {
  background-color: #154679 !important;
}

.travelCard {
  cursor: pointer;
  transition: color 0.5s;
}

.travelCard::before {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  bottom: 0;
  right: 0;
  background-color: #08325f;
  transition: left 0.5s;
  z-index: 1;
}

.travelCard:hover::before {
  left: 0;
}

.travelCard:hover {
  color: white !important;
}

.travelCard>* {
  position: relative;
  z-index: 2;
}

.fs-12 {
  font-size: 12px !important;
}

.line {
  background-color: #c1c7cf;
  border-radius: 0.5rem;
  display: block;
  height: 0.125rem;
  position: relative;
  text-align: center;
  width: 40%;
}

.react-datepicker__header {
  background-color: #212529 !important;
}

.react-datepicker__current-month {
  color: white !important;
}

.react-datepicker__day-name {
  color: white !important;
}

/* SCROLL BAR */

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #05203c;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #394a6d;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.bg-red {
  background-color: #cc0100 !important;
  color: white !important;
}

.group-item img {
  transition: transform 0.2s ease-in-out;
}

.group-item img:hover {
  transform: scale(1.1);
}

.leaflet-routing-alt {
  display: none;
}

/* LOBBIES */

.lobbies {
  border-radius: 27px;
  background: #ededed;
  box-shadow: 15px 15px 30px #a6a6a6, -15px -15px 30px #ffffff;
}

/* MESSAGE */
.message-item {
  border: none;
  background: transparent;
  position: relative; /* Aggiunto per il posizionamento relativo delle date */
}

.message-content {
  max-width: 70%;
  color: #000;
  background: #f8f9fa;
  box-shadow: inset 5px 5px 13px #d5d5d5, inset -5px -5px 13px #f8f9fa;
}

/* .message-content.own-message {
  * box-shadow: 5px 5px 10px #d38f8f, -5px -5px 10px #f9f6f6; *
}
*/

.message-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message-username {
  font-weight: bold;
  padding-right: 10px;
}

.message-time {
  font-size: 0.8rem;
  color: grey;
  text-align: right;
  margin-top: 5px;
}

.message-delete-button {
  background: transparent;
  color: #000;
  border: none;
  font-size: 1.2rem;
  line-height: 1;
  cursor: pointer;
}

.message-delete-button:hover {
  color: #ff0000;
}

.message-attachment img,
.message-attachment video,
.message-attachment audio {
  max-width: 400px;
  max-height: 400px;
}

.message-date {
  text-align: center;
  margin: 20px 0;
}

@media screen and (max-width: 500px) {
  .navbar-nav {
    margin-top: 2rem !important;
  }
}
