body {
  background-color: #eff3f8 !important;
}
/* .container-fluid {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 20px; /* Aggiungi spazio in fondo */

.rounded-25 {
  border-radius: 25px !important;
}
/* Nascondi la barra di scorrimento solo per WebKit */
html::-webkit-scrollbar {
  display: none !important;
  /* Per Chrome, Safari, e Opera */
  scrollbar-width: none !important;
  /* Per Firefox */
  -ms-overflow-style: none !important;
  /* Per IE e Edge */
}

.img_profile {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;

  margin-right: 5px;
}

.img_profile2 {
  width: 100%;
  height: 15rem;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.online {
  top: 25px;
  left: 30px;
  padding: 0.3rem !important;
}

.vh-100 {
  height: min-content;
}

.travelCard {
  cursor: pointer;
  transition: color 0.5s;
}

.travelCard::before {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  bottom: 0;
  right: 0;
  background-color: #08325f;
  transition: left 0.5s;
  z-index: 1;
}

.travelCard:hover::before {
  left: 0;
}

.travelCard:hover {
  color: white !important;
}

.travelCard > * {
  position: relative;
  z-index: 2;
}

.fs-12 {
  font-size: 12px !important;
}

.line {
  background-color: #c1c7cf;
  border-radius: 0.5rem;
  display: block;
  height: 0.125rem;
  position: relative;
  text-align: center;
  width: 40%;
}

.react-datepicker__header {
  background-color: #212529 !important;
}

.react-datepicker__current-month {
  color: white !important;
}

.react-datepicker__day-name {
  color: white !important;
}

.custom-scrollbar {
  flex-grow: 1;
  overflow-y: auto;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #394a6d;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.chat-list {
  flex-grow: 1;
  overflow-y: auto;
}

.group-item img {
  transition: transform 0.2s ease-in-out;
}

.group-item img:hover {
  transform: scale(1.1);
}

.leaflet-routing-alt {
  display: none;
}

/* LOBBIES */

.lobbies {
  border-radius: 27px;
  background: #ededed;
  box-shadow: 15px 15px 30px #a6a6a6, -15px -15px 30px #ffffff;
}

/* MESSAGE */
.message-item {
  border: none;
  background: transparent;
  position: relative;
}

.message-content {
  max-width: 70%;
  color: #000;
  background: #f8f9fa;
  box-shadow: inset 5px 5px 13px #d5d5d5, inset -5px -5px 13px #f8f9fa;
  position: relative; /* Ensure the content is relatively positioned */
}

/* .message-content.own-message {
  box-shadow: 5px 5px 10px #d38f8f, -5px -5px 10px #f9f6f6;
} */

.own-message {
  background: rgb(255, 113, 65);
  position: relative;
  max-width: 70%;
}

.other-message {
  background-color: #000;
  position: relative;
  max-width: 70%;
}

.message-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message-username {
  font-weight: bold;
  padding-right: 10px;
}

.message-time {
  font-size: 0.8rem;
  color: rgb(193, 192, 192);
  position: absolute;
  bottom: 5px;
  right: 10px;
}

.own-message-time {
  color: rgb(244, 217, 201);
}
.message-delete-button {
  line-height: 20px;
  width: 15px;
  height: 15px;
  color: white !important;
}

.message-delete-button:hover {
  background: #000 !important;
}

.message-attachment img,
.message-attachment video,
.message-attachment audio {
  max-width: 400px;
  max-height: 400px;
}

.message-date {
  text-align: center;
  margin: 20px 0;
}

@media screen and (max-width: 500px) {
  .navbar-nav {
    margin-top: 2rem !important;
  }
}

/* CHATLIST */

/* Common neumorphic styles */
.neumorphic-card {
  /* box-shadow: 8px 8px 16px #a3b1c6, -8px -8px 16px #ffffff; */
  border-radius: 1rem;
}

.neumorphic-header {
  /* box-shadow: inset 8px 8px 16px #a3b1c6, inset -8px -8px 16px #ffffff; */
  border-radius: 1rem 1rem 0 0;
}

.search-input {
  box-shadow: inset 4px 4px 8px #a3b1c6, inset -4px -4px 8px #ffffff;
}

.chat-list {
  height: 80vh;
  max-height: 80vh;
}

.chat-item {
  transition: background 0.3s, color 0.3s;
}

.default-chat {
  color: #000;
  /* box-shadow: inset 4px 4px 8px #a3b1c6, inset -4px -4px 8px #ffffff; */
}

.default-chat:hover {
  color: #000;
  box-shadow: 4px 4px 8px #a3b1c6, -4px -4px 8px #ffffff;
}

.selected-chat {
  color: #fff;
  box-shadow: 4px 4px 8px #a3b1c6, -4px -4px 8px #ffffff;
}

.chat-image {
  width: 45px;
  height: 45px;
  object-fit: cover;
}

.chat-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 30px); /* Adjust as needed */
  display: inline-block;
  vertical-align: middle;
}

.notification {
  display: inline-block;
  width: 30px;
  height: 30px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background: rgb(255, 135, 65);
  background: linear-gradient(145deg, rgba(255, 135, 65, 1) 15%, rgba(255, 65, 65, 1) 65%);
  color: white;
  text-align: center;
  line-height: 1.85rem;
  font-size: 1rem;
  font-weight: bold;
}

.gradient-orange {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background: rgb(3, 3, 3);
  background: linear-gradient(160deg, rgb(5, 5, 5) 15%, rgb(9, 9, 9) 65%);
  cursor: pointer;
}

.gradient-orange:hover {
  background: rgb(255, 135, 65);
  background: linear-gradient(160deg, rgba(255, 135, 65, 1) 15%, rgba(255, 65, 65, 1) 65%);
}

.date_message {
  background: linear-gradient(165deg, rgb(162, 160, 160) 15%, rgb(114, 113, 113) 65%);
  box-shadow: 0 10px 30px rgba(65, 72, 86, 0.05);
}

.black-white-button {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background: white !important;
  color: #000 !important;
  cursor: pointer;
}

.black-white-button:hover {
  background: #000 !important;
  color: white !important;
}

/* modal group */

.friend-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s, color 0.3s;
}

.friend-item:hover {
  background-color: #f0f0f0;
}

.friend-image {
  width: 40px;
  height: 40px;
}

.selected-friend {
  background-color: #007bff;
  color: white;
}

.friend-list {
  max-height: 300px;
  overflow-y: auto;
}

/* TEXT */

.text-change {
  color: #000 !important;
}

.text-change:hover {
  color: rgba(255, 65, 65, 1) !important;
}
/* SEARCHUSER*/

.search-users-form {
  z-index: 1000; /* Assicurati che il modulo di ricerca sia sopra altri elementi */
}

.search-results {
  top: 100%; /* Posiziona i risultati direttamente sotto il campo di input */
  left: 0;
  z-index: 1000; /* Assicurati che i risultati siano sopra altri elementi */
  background-color: white; /* Colore di sfondo per i risultati */
  border: 1px solid #ccc; /* Bordo per i risultati */
  box-shadow: 2px 2px 5px #0d0d0d;
  max-height: 300px; /* Altezza massima per evitare che i risultati superino la vista */
  overflow-y: auto; /* Aggiungi lo scrolling verticale se i risultati eccedono l'altezza massima */
}

.search-item {
  background: white !important;
  color: #000 !important;
}

.search-item:hover {
  background: #000 !important;
  color: white !important;
}

.dropdown-toggle-icon::after {
  display: none !important;
}

.pointer {
  cursor: pointer;
}

.custom-close-button {
  color: white;
  opacity: 1;
}

.custom-close-button:hover {
  color: white;
  opacity: 0.75;
}

.position-relative .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.position-relative:hover .overlay {
  opacity: 1;
}
